.navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar-links {
  justify-content: space-evenly;
  padding: 10px 5px;
  width: 25%;
  display: flex;
}

.NavLink {
  /* padding: 10px; */
  color: blue;
}

.divline {
  background-color: black;
  width: 1px;
  height: 20px;
}

h4 {
  margin-top: 30px;
}
