.navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar-links {
  justify-content: space-evenly;
  padding: 10px 5px;
  width: 25%;
  display: flex;
}

.NavLink {
  /* padding: 10px; */
  color: blue;
}

.divline {
  background-color: black;
  width: 1px;
  height: 20px;
}

.title {
  margin-top: 50px;
}

.cal-head {
  margin-top: 20px;
}

.home-p {
  margin-top: 60px;
}

.home-p2 {
  margin-top: 40px;

}

.quote-p {
  text-align: center;
  justify-content: center;
  font-size: larger;

}

.quote-header {
  align-items: center;
  text-align: center;
  justify-content: center;
}