* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.calculator-div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.displayNum {
  width: 100%;
  padding: 1.5rem 0.2rem;
  text-align: end;
  background-color: rgb(24, 69, 68);
  color: white;
}

.displayNum::placeholder {
  color: #eee;
  font-weight: bold;
  font-size: 1rem;
}

.calculatorButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #2b2d41;
  padding: 0.3rem;
}

button {
  border: none;
  background-color: #eceef4;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  border: rgb(15, 17, 16) 1px solid;
  border-radius: 5%;
}

.color-first {
  color: rgb(21, 20, 20);
  font-weight: bold;
}

.color-second {
  color: rgb(5, 11, 11);
}

.zero {
  grid-column: 1 / 3;
}

.orange {
  background-color: orange;
  border-bottom: 1px solid rgb(179, 176, 176);
}
